html {
  box-sizing: border-box;
  overflow: hidden;
}
#blocker {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}
#win {
  display: none;
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 14px;
  line-height: 24px;
}
.icon{
  width: 64px;
  height: 64px;
}
#lose {
  display: none;
  width: 100%;
  height: 100%;
  color: #ff0000;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 14px;
  line-height: 24px;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px; 
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  margin: 0;
  height: 100%;
  user-select: none;
}
img,
canvas {
  /* prevent the save-image on long press on mobile */
  pointer-events: none;
}
#c {
  width: 100%;
  height: 100%;
  display: block;
}
.bright {
  filter: brightness(2);
}
#left {
  justify-content: flex-end;
}
#right {
  justify-content: flex-start;
}
#ui img {
  padding: 10px;
  width: 80px;
  height: 80px;
  display: block;
}
#instructionContent{
  display: flex;
  align-items: center;
}
#instructionContent > img{
  height: 200px;
  width: 200px;
  margin: 10px;
  flex-shrink: 0;
}
#loading {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 0, 49, 1);
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  font-size: xx-large;
  font-family: sans-serif;
  color: white;
}
.banner{
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  pointer-events: none;
}
.banner div{
  position: absolute;
  display: block;
}
.banner div:nth-child(1){
  left:25%;
  animation: animate 15s linear infinite;
  animation-delay: -5s;
}
.banner div:nth-child(2){
  left:90%;
  animation: animate 12s linear infinite;
  animation-delay: -8s;
}
.banner div:nth-child(3){
  left:45%;
  animation: animate 20s linear infinite;

}
.banner div:nth-child(4){
  left:0%;
  animation: animate 9s linear infinite;
  animation-delay: -3s;
}
.banner div:nth-child(5){
  left:70%;
  animation: animate 18s linear infinite;
}
.banner div:nth-child(6){
  left:10%;
  animation: animate 8s linear infinite;
  animation-delay: -6s;
}
.banner div:nth-child(7){
  left:50%;
  animation: animate 11s linear infinite;
}
.banner div:nth-child(8){
  left:15%;
  animation: animate 19s linear infinite;
  animation-delay: -2s;
}
.banner div:nth-child(9){
  left:95%;
  animation: animate 10s linear infinite;
}
.banner div:nth-child(10){
  left:35%;
  animation: animate 12s linear infinite;
  animation-delay: -8s;
}
.banner div:nth-child(11){
  left:80%;
  animation: animate 11s linear infinite;
  animation-delay: -2s;
}
.banner div:nth-child(12){
  left:30%;
  animation: animate 9s linear infinite;
  animation-delay: -6s;
}
.banner div:nth-child(13){
  left:85%;
  animation: animate 9s linear infinite;
  animation-delay: -3s;
}
.banner div:nth-child(14){
  left:40%;
  animation: animate 15s linear infinite;
}
.banner div:nth-child(15){
  left:100%;
  animation: animate 13s linear infinite;
  animation-delay: -1s;
}
.banner div:nth-child(16){
  left:20%;
  animation: animate 9s linear infinite;
  animation-delay: -4s;
}
.banner div:nth-child(17){
  left:75%;
  animation: animate 10s linear infinite;
  animation-delay: -9s;
}
@keyframes animate{
  0%{
    top: -10%;
    transform: translateX(20px) rotate(0deg)
  }
  20%{
    transform: translateX(-20px) rotate(45deg)
  }
  40%{
    transform: translateX(20px) rotate(90deg)
  }
  60%{
    transform: translateX(-20px) rotate(45deg)
  }
  80%{
    transform: translateX(20px) rotate(90deg)
  }
  100%{
    top: 110%;
  }
}
#loadContainer{
  justify-self: end;
}
.btn{
  background-color: rgb(72, 112, 76);
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  font-size: 25px;
  border-radius: 12px;
  -webkit-text-stroke-width: 0px; 
}
.progress {
  width: 50vw;
  border: 1px solid black;
}
#progressbar {
  width: 0%;
  transition: width ease-out 0.5s;
  height: 0.5em;
  background-color: rgb(71, 92, 73);
  background-image: linear-gradient(
    -45deg,
    rgba(215, 235, 198, 0.5) 25%,
    transparent 25%,
    transparent 50%,
    rgba(215, 235, 198, 0.5) 50%,
    rgba(215, 235, 198, 0.5) 75%,
    transparent 75%,
    transparent
  );
  background-size: 50px 50px;
  animation: progressanim 2s linear infinite;
}

@keyframes progressanim {
  0% {
    background-position: 50px 50px;
  }
  100% {
    background-position: 0 0;
  }
}

#score {
  position: absolute;
  left: 5px;
  top: 5px;
  color: white;
  font-size: large;
}

#help {
  position: absolute;
  right: 5px;
  top: 5px;
  display: flex;
  justify-content: flex-end;
  color: white;
}

.border{
  -webkit-filter: drop-shadow(1px 1px 0 white) 
  drop-shadow(-1px -1px 0 white);
  filter:drop-shadow(1px 1px 0 white) 
  drop-shadow(-1px -1px 0 white);
}
