html {
  box-sizing: border-box;
}
#blocker {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#win {
  display: none;

  width: 100%;
  height: 100%;

  color: #ffffff;
  text-align: center;
  font-family: Arial;
  font-size: 14px;
  line-height: 24px;
}

#lose {
  display: none;

  width: 100%;
  height: 100%;

  color: #ff0000;
  text-align: center;
  font-family: Arial;
  font-size: 14px;
  line-height: 24px;
}

#instructions {
  width: 100%;
  height: 100%;

  display: -webkit-box;
  display: -moz-box;
  display: box;

  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;

  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;

  color: #ffffff;
  text-align: center;
  font-family: Arial;
  font-size: 14px;
  line-height: 24px;

  cursor: pointer;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  margin: 0;
  height: 100%;
  user-select: none;
}
img,
canvas {
  /* prevent the save-image on long press on mobile */
  pointer-events: none;
}
#c {
  width: 100%;
  height: 100%;
  display: block;
}
#ui {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-items: center;
  align-content: stretch;
}
#ui > div {
  display: flex;
  align-items: flex-end;
  flex: 1 1 auto;
}
.bright {
  filter: brightness(2);
}
#left {
  justify-content: flex-end;
}
#right {
  justify-content: flex-start;
}
#ui img {
  padding: 10px;
  width: 80px;
  height: 80px;
  display: block;
}
#instructionContent{
  display: flex;
  align-items: center;
}
#instructionContent > img{
  height: 200px;
  width: 200px;
  margin: 10px;
  flex-shrink: 0;
}
#loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 0, 49, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  font-size: xx-large;
  font-family: sans-serif;
  color: white;
}
#loadContainer{
  justify-self: end;
}
#startBtn{
  background-color: rgb(72, 112, 76);
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  font-size: 16px;
  border-radius: 12px;
}
.progress {
  width: 50vw;
  border: 1px solid black;
}
#progressbar {
  width: 0%;
  transition: width ease-out 0.5s;
  height: 0.5em;
  background-color: rgb(71, 92, 73);
  background-image: linear-gradient(
    -45deg,
    rgba(215, 235, 198, 0.5) 25%,
    transparent 25%,
    transparent 50%,
    rgba(215, 235, 198, 0.5) 50%,
    rgba(215, 235, 198, 0.5) 75%,
    transparent 75%,
    transparent
  );
  background-size: 50px 50px;
  animation: progressanim 2s linear infinite;
}

@keyframes progressanim {
  0% {
    background-position: 50px 50px;
  }
  100% {
    background-position: 0 0;
  }
}

#labels {
  position: absolute; /* let us position ourself inside the container */
  left: 0; /* make our position the top left of the container */
  top: 0;
  color: white;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}
#labels > div {
  position: absolute; /* let us position them inside the container */
  left: 0; /* make their default position the top left of the container */
  top: 0;
  font-size: large;
  font-family: monospace;
  user-select: none; /* don't let the text get selected */
  text-shadow:         /* create a black outline */ -1px -1px 0 #000,
    0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000,
    -1px 1px 0 #000, -1px 0 0 #000;
}

#score {
  position: absolute;
  color: white;
}
